language: node_js
node_js:
  - "8"
install: 
  - npm install -g mocha
  - npm install
  - npm install nodemon
env:
  RSYNC_PASSWORD=xperience
deploy:
  skip_cleanup: true
  provider: script
  script: rsync -avzhe ssh --progress . root@178.62.2.151:/newbuilds