language: node_js
node_js:
  - "8"
before_install:
  - apt-get update
  - apt-get install -y ssh-add
install: 
  - npm install -g mocha
  - npm install
  - npm install nodemon
env:
  RSYNC_PASSWORD=xperience
before_deploy:
  ssh-add /tmp/DO_teamcity.pub
deploy:
  skip_cleanup: true
  provider: script
  script: rsync -avzhe ssh --progress --quiet . root@178.62.2.151:/newbuilds